<div class="site-preloader" *ngIf="loader"></div>

<div class="block">
   
</div>

<ng-template #template>
    <div class="modal-body text-center" style="padding: 1.75rem; position: relative; flex: 1 1 auto">
        <h6 class="modal-title mb-4">
            You have made changes to the parking schedule, new changes will be
            applied for the selected dates.
        </h6>
        <button type="button" class="btn btn-primary" (click)="editsinglemultiple()">
            Proceed
        </button>
        {{ " " }}
        <button type="button" class="btn btn-primary" (click)="decline()">
            Cancel
        </button>
    </div>
</ng-template>

<ng-template #template1 style="width: 100%">
    <div class="modal-body text-center" style="padding: 1.75rem; position: relative; flex: 1 1 auto">
        <h6 class="modal-title mb-4">
            You have made changes to the parking schedule, new changes will be
            applied for the selected dates.
        </h6>
        <button type="button" class="btn btn-primary" (click)="editmultipletomultiple()">
            Proceed
        </button>
        {{ " " }}
        <button type="button" class="btn btn-primary" (click)="declinemutliple()">
            Cancel
        </button>
    </div>
</ng-template>

<ng-template #template2>
    <div class="modal-body text-center" style="padding: 1.75rem; position: relative; flex: 1 1 auto">
        <h6 class="modal-title mb-4">
            You have not configured the parking schedule for this date, If you
            want to create a new schedule click on proceed below.
        </h6>
        <button type="button" class="btn btn-primary" (click)="movetoaddmode()">
            Proceed
        </button>
        {{ " " }}
        <button type="button" class="btn btn-primary" (click)="declinemutlipledateset()">
            Cancel
        </button>
    </div>
</ng-template>

<ng-template #template3>
    <div class="modal-body text-center" style="padding: 1.75rem; position: relative; flex: 1 1 auto">
        <h6 class="modal-title mb-4">
            All data will be lost, are you sure you want to continue? .
        </h6>

        <button type="button" class="btn btn-primary" (click)="editmultipletomultiple()">
            Continue
        </button>

        <button style="margin-left: 5px" type="button" class="btn btn-primary" (click)="declinesavecheck()">
            Cancel
        </button>
    </div>
</ng-template>
<ng-template #template4>
    <div class="modal-body text-center" style="padding: 1.75rem;
    position: relative;
    flex: 1 1 auto;">
        <h6 class="modal-title mb-4">Do you want to proceed with delete the current configuration ?.</h6>
        <button type="button" class="btn btn-outline-primary" (click)="confirmdeletevehicle()">Yes</button>

        <button type="button" class="btn btn-primary ml-2" (click)="declinedeletevehicle()">No</button>
    </div>
</ng-template>

<!-- <div class="codepen-wrapper">
    <span class="registration-ui">N606 GUR</span>
  </div> -->

<!-- <button type="button" class="btn btn-primary" (click)="getlistbyweekname()">datelist</button> -->

<!-- grid data -->
<div class="block" id="parkingsession">
    <div class="container">
        <div class="row">

            <div class="btn_aling ">
            <button type="button" class="btn btn-primary rounded-pill" 
             style=" margin-left: 5px;float: right;" 
            [routerLink]="'/account/AddVehicleRegistration'">
            Create Session
            </button>
        </div>
            <div class="col-md-12 d-flex loginform">
                <div class="card flex-grow-1 mb-md-0">
                    <div >
                        <!-- <div class="row">
                            <h5> Parking Sessions</h5>

                        </div>
                        <div class="card flex-grow-1 mb-md-0" style="width: 30%;">
                            <div class="card-body">
                                <div class="row">
                                    <h5>Car Park Name & Address</h5>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <span>
                                            {{sitename}}

                                        </span><br>
                                        <span>
                                            {{siteaddress}}
                                        </span><br>
                                        <span>
                                            {{sitecity}}
                                        </span><br>
                                        <span>
                                            {{sitestate}}
                                        </span><br>
                                        <span>
                                            {{sitezipcode}}
                                        </span>

                                    </div>

                                </div>

                            </div>

                        </div> -->
                       
                        <div class="row" style=""
                            id="parkingsessionsi">
                            <div class="col-md-12">
                                <table class="table table-responsive-md table-bordered table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Bay Name</th>
                                            <th>VRM No</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Action</th>
                                            <!-- <th>Cancel</th> -->
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr *ngFor="let visitorparking of visitorparkings">
                                            <td>{{visitorparking.bayName}}</td>
                                            <td>{{visitorparking.vrm}}</td>
                                            <td>{{visitorparking.startdate | date: 'dd/MM/yyyy hh:mm'}}</td>
                                            <td>{{visitorparking.endate | date: 'dd/MM/yyyy hh:mm'}}</td>
                                            <td>
                                                <a href="javascript::" (click)="EditVehicle(visitorparking)"><i
                                                        class="fa fa-edit"></i></a>
                                                <a href="javascript::" (click)=openModalManage(template4,visitorparking)
                                                    style="margin-left: 10px;"><i class="fa fa-trash"></i></a>
                                            </td>
                                            <!-- <td><button class="btn btn-primary" (click)=openModal(template,visitorparking.id)>Cancel</button></td> -->
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="messagediv">
                        <p>You have no parking sessions configured, to configure your first parking session please
                            select the parking bay from the list above.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>