


.fixed-background {
  background: url("../../../../../assets/images/logo/backimage1.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.auth-card{
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  position: relative;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  background: rgb(245 242 242 / 60%);
  min-width: 0;
  color: #333 !important;
  box-shadow: 0 0px 56px rgba(0, 0, 0, 0.3);
}
.c-pointer{
    cursor: pointer;
}
.logo-single{
  width: 385px;
  height: 75px;
  background: url("../../../../../assets/images/logo/Logo.png") no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 30px;
  background-size: contain;
}
.btn-lg{
  position: relative;
  transition: opacity 500ms;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size:0.9rem;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-color: #ffd333;
  border-color: #ffd333;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
}
.email_st{
  margin-left: 28px !important;
}
@media (max-width: 425px){
 

}
@media (max-width: 767px){
  
  .form-0
  {
    margin: 0 -15px -2px -46px !important;
  }
  .auth-cardst{
    width:100% !important;
  }
  .logost{
    margin-left: -68px !important;
    margin-top: -60px !important;
  }
  .logoimgst{
    width: 110px !important;
    height: 35px !important;
  }
  .efsst{
    margin-left: 72px !important;
  margin-top: -45px !important;
  }
  .efsimgst{
    height: 44px !important;
    width: 126px !important;
  }
  .email_st{
    margin-top: -38px !important;
  margin-left: 55px !important;
  margin-right: -55px !important;
  }
  .password_st{
    margin-left: 54px !important;
    margin-right: -55px !important;
    margin-top: -41px !important;
  }
  .btnst{
    margin-left: 63px !important;
  }
  .anchst{
    margin-left: -14px !important;
  font-size: 0.9rem !important;
  color: #3a3a3a !important;
  transition: color 200ms !important;
  outline: initial !important;
  }


  
}

@media (max-width: 992px){
.efsst{
  margin-left: 168px !important;
  margin-top: -45px !important;
  }
.auth-card-0 {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  position: relative;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  background: rgba(245, 242, 242, 0.6);
  min-width: 0;
  color: #333 !important;
  box-shadow: 0 0px 56px rgba(0, 0, 0, 0.3);
}
}

@media only screen and (min-width:768px) {
.login-container {
  width: 100% !important;
  padding: 40px 50px!important;
}
}

@media only screen and (max-width:767px) {
.login-container {
  width: 100% !important;
  padding: 40px 80px!important;
}
}

.login-form {
width: 100% !important;
  padding: 80px;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
.auth-card {   
  width: 75%!important;
 
}
}

@media only screen and (min-width:530px) {
.logo-park {
  float:right!important;
}
}