:host {
    display: block;
}


.nav-panel1 {
    height: 1px;
    background:beige;
    box-shadow: 0 1px #0000000a, inset 0 -1px #0000000a;
    color: #3d464d;
    will-change: position;
    backface-visibility: hidden;
    transform: translateZ(0);
}