<div class="dashboard-content">

  <!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img style="width: 93% !important;height: 224px;" src="../../../../../assets/images/parking1.jpg" />
  </ng-template>
  <ng-template carouselSlide>
    <img style="width: 93% !important;height: 224px;" src="../../../../../assets/images/parking2.jpg" />

  </ng-template>
  <ng-template carouselSlide>
    <img style="width: 93% !important;height: 224px;" src="../../../../../assets/images/parking3.jpg" />
  </ng-template>
  <ng-template carouselSlide>
    <img style="width: 93% !important;height: 224px;" src="../../../../../assets/images/parking4.jpg" />
  </ng-template>
  <ng-template carouselSlide>
    <img style="width: 93% !important;height: 224px;" src="../../../../../assets/images/parking5.jpg" />
  </ng-template>
</owl-carousel-o> -->


 <!-- Carousel inside a card -->
 <div class="card carousel-card" style="width: 100%; margin-bottom: 20px; padding: 15px;">
  <div class="card-body1">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img class="carousel-image" src="../../../../../assets/images/parking1.jpg" />
      </ng-template>
      <ng-template carouselSlide>
        <img class="carousel-image" src="../../../../../assets/images/parking2.jpg" />
      </ng-template>
      <ng-template carouselSlide>
        <img class="carousel-image" src="../../../../../assets/images/parking3.jpg" />
      </ng-template>
      <ng-template carouselSlide>
        <img class="carousel-image" src="../../../../../assets/images/parking4.jpg" />
      </ng-template>
      <ng-template carouselSlide>
        <img class="carousel-image" src="../../../../../assets/images/parking5.jpg" />
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

<div class="dashboard" style="margin-top: -20px;">
  <div class="dashboard__profile card profile-card" style="width: 100%;">
    <div class="card-body profile-card__body">
      <!-- <div class="profile-card__avatar" style=" background-image: url({{profilepath}});">
              
            </div>
            <div class="profile-card__name">{{ address.firstName + ' ' + address.lastName}}</div>
            <div class="profile-card__email">{{ address.email }}</div>
            <div class="profile-card__email" style="margin-top: -18px;">{{ address.phone }}</div> 
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm">Edit Profile</a>
            </div> -->



       
            
      <p>Welcome to Go Permit! Our Fast and Reliable permit management service. <br /><br />

        Go Permit is intended to facilitate online permit management services, which will give you Option to choose the
        right parking bay according to your requirements and needs in just one go!
        <br /><br />

        You can add, remove, edit you bay configuration and also register visitors. <br /><br />

        Ok, Lets get started:<br />
        To Set up or edit your bay, click on Bay Configuration. <br />
        To book a visitor, click on visitor parking. <br />
        Use this hassle free feature and enjoy a smooth parking facility!<br /><br />

        Go Permit has a dedicated permit management team who are highly professional and experienced in dealing with all
        permit inquiries, requests, and on-going permit and client management issues. If you need help, use the support
        page to send us an enquiry.

      </p>
    </div>
    <div class="row" style="margin-left: 10px;display: none;">
      <div class="col-md-4">
        <p>
          Manage parking
        </p>
        <bs-datepicker-inline [dateCustomClasses]="selectedClass" [bsValue]="dateSelected">
        </bs-datepicker-inline>
      </div>
      <div class="col-md-4">
        <p>
          visitor parking
        </p>
        <bs-datepicker-inline [dateCustomClasses]="visitorselectedClass" [bsValue]="visitordateSelected">
        </bs-datepicker-inline>
      </div>
    </div>
  </div>


</div>



</div>





























<!-- First Modal: Terms & Conditions -->
<!-- <div class="custom-modal" [class.show]="isDialogOpen">
  <div class="custom-modal-content">
    <h3 class="modal-title">CONDITIONS OF USE OF PARKING PERMIT</h3>
    <p class="modal-subtitle">
      PLEASE READ THE FOLLOWING POINTS BEFORE USING THE PERMIT. <br />
      THESE TERMS & CONDITIONS APPLY TO ALL RESIDENTS, CUSTOMERS AND VISITORS USING THE PARKING SITE.
    </p>
    <ol class="modal-list">
      <li>
        The permit is only valid for the period of parking for the Vehicle Registered when the vehicle is parked in a parking zone at the relevant land operated by our company.
      </li>
      <li>
        When a parking bay is not allocated to an applicant, the granting of a permit does not guarantee that a space will be available.
      </li>
      <li>
        Issuance of the parking permit to the applicant named on the permit (permit holder) means the permit holder has agreed there are terms and conditions which are placed on the parking signage on the site and to check and follow all Terms and Conditions present on the signage at the relevant Parking Location and understand that any non-compliance will result in a PCN being issued to the vehicle, for which they will be held responsible as the permit is issued to the applicant.
      </li>
 
    </ol>
    <button class="btn btn-custom" (click)="agreeAndOpenUploadModal()">Agree</button>
  </div>
</div>  -->


<div class="terms-modal show" [class.show]="isDialogOpen" >
  <div class="terms-modal-content">
    <h3 class="modal-title">CONDITIONS OF USE OF PARKING PERMIT</h3>
    <p class="modal-subtitle">
      PLEASE READ THE FOLLOWING POINTS BEFORE USING THE PERMIT. <br />
      THESE TERMS & CONDITIONS APPLY TO ALL RESIDENTS, CUSTOMERS, AND VISITORS USING THE PARKING SITE.
    </p>
    <!-- Scrollable Terms Content -->
    <div
      class="terms-scrollable-content"
      (scroll)="onScroll($event)"
      #termsContent
    >

   
      <ol class="modal-list">
        <!-- <li>
          The permit is only valid for the period of parking for the Vehicle
          Registered when the vehicle is parked in a parking zone at the
          relevant land operated by our company.
        </li>
        <li>
          When a parking bay is not allocated to an applicant, the granting of
          a permit does not guarantee that a space will be available.
        </li>
        <li>
          Issuance of the parking permit to the applicant named on the permit
          (permit holder) means the permit holder has agreed there are terms and
          conditions which are placed on the parking signage on the site and to
          check and follow all Terms and Conditions present on the signage at
          the relevant Parking Location and understand that any non-compliance
          will result in a PCN being issued to the vehicle, for which they will
          be held responsible as the permit is issued to the applicant.
        </li>
        <li>
          The permit is non-transferable and can only be used for the vehicle
          registered under the permit holder's name.
        </li>
        <li>
          Any misuse or tampering with the permit will result in immediate
          revocation without prior notice.
        </li>
        <li>
          The company reserves the right to withdraw or cancel the permit at any
          time if the terms and conditions are not adhered to.
        </li>
        <li>
          All vehicles must be parked in the designated areas only, and failure
          to comply may lead to enforcement action.
        </li>
        <li>
          By accepting this permit, the permit holder agrees to abide by all the
          terms and conditions stated here and displayed on the site.
        </li> -->


        <div  [innerHTML]="termsandConditions"></div>
      </ol>

    </div>

    <!-- Close button -->
    <span class="terms-close-btn" (click)="closeDialog()">&times;</span>

    <!-- Agree button - Disabled initially -->
    <button
      class="btn btn-custom"
      [disabled]="!isScrolledToBottom"
      (click)="agreeAndOpenUploadModal()"
    >
      Agree
    </button>
  </div>
</div>




<!-- Second Modal: Document Upload -->
<div class="custom-modal-1" [class.show]="isUploadModalOpen">
  <div class="custom-modal-content-1" (click)="$event.stopPropagation()">
    <h3 class="modal-title-1">Upload Documents</h3>
    <p class="modal-subtitle-1">Please provide the following documents for verification:</p>

    <form class="upload-form-1">
      <div class="upload-row-1">
        <!-- Proof of Residency -->
        <div class="upload-column-1">
          <label for="residencyProof" class="upload-label-1">Residency Proof:</label>
          <input type="file" id="residencyProof" #residencyProof class="upload-input-1" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx" />
        </div>

        <!-- Proof of Ownership -->
        <div class="upload-column-1">
          <label for="ownershipProof" class="upload-label-1">ID Proof:</label>
          <input type="file" id="ownershipProof" #ownershipProof class="upload-input-1" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx" />
        </div>
      </div>

      <button type="button" class="btn btn-custom" (click)="submitDocuments(residencyProof, ownershipProof)">Submit</button>
    </form>
  </div>
</div>


<!-- Third Modal: Confirmation -->
<!-- <div class="custom-modal" *ngIf="isConfirmationModalOpen && isApproved">
  <div class="custom-modal-content" (click)="$event.stopPropagation()">
   
    <h3 class="modal-title">Request Submitted</h3>
    <p class="modal-subtitle">
      🎉 Documents submitted successfully! <br />
      Your request is now in the hands of our admin team. 🕒<br />
      We’re reviewing your documents with care and will notify you once they’re approved. <br />
      Sit back, relax, and we’ll keep you posted! 🚀
    </p>    
  </div>
</div> -->




<!-- Third Modal: Confirmation -->
<!-- <div class="custom-modal" >
  <div class="custom-modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Request Submitted</h3>
    <p class="modal-subtitle">
      🎉 Documents submitted successfully! <br />
      Your request is now in the hands of our admin team. 🕒<br />
      We’re reviewing your documents with care and will notify you once they’re approved. <br />
      Sit back, relax, and we’ll keep you posted! 🚀
    </p>
  </div>
</div> -->









<!-- Confirmation Modal -->
<!-- <div *ngIf="!isLoading && isConfirmationModalOpen" class="custom-modal-confirm">
  <div class="custom-modal-content-confirm">
    <h3 class="modal-title-confirm">Success!</h3>
    <p class="modal-subtitle">
      🎉 Documents submitted successfully! <br />
      Your request is now in the hands of our admin team. 🕒<br />
      We’re reviewing your documents with care and will notify you once they’re approved. <br />
      Sit back, relax, and we’ll keep you posted! 🚀
    </p>    
  </div>
</div> -->




<!-- Confirmation Modal -->
<div
  *ngIf="!isLoading && isConfirmationModalOpen && !isDialogOpen"
  class="custom-modal-confirm"
>
  <!-- <div class="custom-modal-content-confirm">
    <h3 class="modal-title-confirm">Success!</h3>
    <p class="modal-subtitle">
      🎉 Documents submitted successfully! <br />
      Your request is now in the hands of our admin team. 🕒<br />
      We’re reviewing your documents with care and will notify you once they’re approved. <br />
      Sit back, relax, and we’ll keep you posted! 🚀
    </p>
  </div> -->
  <div class="custom-modal-content-confirm">
  <div  [innerHTML]="modalContent"></div>
</div>
</div>
