.modal-dialog .div{
    border-radius: .75rem!important;
}
body{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color, #4d5055);
    word-break: break-word;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
.layoutback{
    background-color: #fbfcfd;
    display: flex;
    flex-direction: column;
   // min-height: 100vh;
}
.wrapcls{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 36px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.container_cls{
    display: flex;
    flex: 1 1 auto;
   // max-width: 765px;
    min-height: 350px;
    transition: all 0.22s ease-out;
    width: 95%;
    border: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    width: 100%;
    background-color: var(--container-background-color, #ffffff);
}
.anch_cls{
    position: absolute;
    top: 15px;
    right: 11px;

}
.brand_cls{
    position: relative;
    top: 21px;
    left: -11px;
    z-index: 1;
    display: block;
    width: 160px;
    padding: 9px 0 6px 0;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    background-color: #505960;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
    transition: all 0.1s ease-in;
    pointer-events: auto;
}
.power_cls{
    margin-left: -7px;
    color: #dbdbdb;
    font-size: 8px;
    text-transform: uppercase;
}
.smart_cls{
    margin-left: -7px;
    color: #ffffff;
    font-size: 14px;
}
.main_cls{
    flex: 1 1 50%;
    width: 50%;
    transition: all 0.22s ease-out;
}
.sub_cls{
    padding-right: 30px;
    padding-left: 30px;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 15px;
}
.block_cls{
    max-width: 320px;
    margin: 0 auto 20px auto;
    text-align: center;
}
.profile_info{
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.profile_name{
    margin: 0 0 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-color-level2, rgba(77, 80, 85, 0.6));
}
.appoint_cls{
    padding: 0 20px;
    color: var(--text-color-level2, rgba(77, 80, 85, 0.6));
    font-size: 14px;
}
.meeting_cls{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.meetingan_{
    flex: 0 calc(50% - 40px);
    min-height: 180px;
    margin: 20px;
    padding: 20px;
    display: block;
    box-sizing: inherit;
    flex: 100%;
    max-width: 500px;
    min-height: 0;
    margin: auto;
    padding: 20px 10px;
    color: var(--text-color, rgb(77, 80, 85));
    text-decoration: none;
    border: 1px solid transparent;
    border-top: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
    transition: border-color 0.1s ease;
}

.meetingan_:hover {
    background-color: rgba(77, 80, 85, 0.1);
}

.header1{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}
.eventtypecls{
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-clip: padding-box;
    border: solid 2px #ffffff;
    border-radius: 50%;
    background-color:#f5d331;
}
.eventtyeheader{
    flex: 1 1 auto;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
}
.eventtypearrow{
    position: relative;
    right: -8px;
    border: 8px solid transparent;
    border-left-color: var(--text-color, rgb(77, 80, 85));
}
.meeting_cls:hover{
    cursor: pointer;
}
.cls_1{
    margin-top: 80px;
}
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    height: 4px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
.modal-content{
  margin: 0px 0px 0px 0px !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.3rem;
    width: 0px !important;
}

@media (max-width: 768px) {

    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        border: 0;
        -webkit-overflow-scrolling: touch;
    }
}

