<div class="dashboard-content">



    <div class="card" style="display: none;">
    <div class="card-header" style="display: none;">
        <h5>Visitor Parking Sessions</h5>
    </div>
    <div style="display: none;">
        <button type="button" class="btn btn-primary" style="float: right;
          margin-top: -55px;
          margin-right: 50px;" (click)="showAddNewModal()">Add New</button>
    </div>
    <div class="card-divider"></div>
    <div class="site-preloader" style="display: none;" id="loader"></div>
    <div class="card-table" style="display: none;">
        <div class="table-responsive-sm">
            <table class="table" *ngIf="showtable">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let visitor of visitors">
                        <td>{{visitor.firstName}}</td>
                        <td>{{ visitor.lastName }}</td>
                        <td>{{ visitor.email }}</td>
                        <td>{{visitor.mobileNumber}}</td>
                        <td>
                            <div style="display: flex;">
                                <div>
                                    <a style="font-size: 20px;" (click)="editvisitor(visitor.id,0)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div style="margin-left: 10px;">
                                    <a style="font-size: 20px;" (click)="editvisitor(visitor.id,1)">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div style="margin-left: 10px;">
                                    <a style="font-size: 20px;" (click)="openModal(template,visitor.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-footer" *ngIf="visitors.length>10">
        <app-pagination [total]="3"></app-pagination>
    </div>


</div>
<ng-template #template>
    <div class="modal-body text-center" style="padding: 1.75rem;
    position: relative;
    flex: 1 1 auto;">
        <h6 class="modal-title mb-4">Are you sure? you want to cancel booking.</h6>
        <button type="button" class="btn btn-outline-primary" (click)="confirm()">Yes</button>

        <button type="button" class="btn btn-primary ml-2" (click)="decline()">No</button>
    </div>
</ng-template>



<div class="info-box">
    <p>
      You can view and manage your visitor parking list here. Additionally, you have the option to edit the details of an existing permit or remove it, if it is no longer needed. To modify your visitor parking list, click the Edit icon. If you wish to delete a permit, use the Trash icon. For any assistance, please contact our support team at <br>
      <strong>support@gopermit.co.uk.</strong>
    </p>
  </div>
  






<div class="block">




    <div class="container">

            
        <h1 style="display: inline; color: white; font-size: 24px;" class="card-title">
            Visitor Parking List:
          </h1>
          
        <div class="row">

                

            <div class="col-md-12 d-flex loginform mt-2">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <!-- <h4 style="display: inline" class="card-title">
                            Visitor Parking List
                        </h4> -->
                        <!-- <i style="margin-left: 5px;" class="far fa-question-circle" aria-hidden="true" tooltip="Pre select the bay and park your car." placement="bottom"></i> -->
                        
                        <div class="">

                            <div>

                                <!-- <div class="col-md-12">
                                    <div class="">
                                        <div class="block_cls">
                                            <div style="margin-bottom: 12px;" style="display: none;">
                                                <img class="profile_info"
                                                    src="https://d3v0px0pttie1i.cloudfront.net/uploads/user/avatar/4541863/394852eb.jpg" />

                                            </div>
                                            <div class="row">
                                                <div class="appoint_cls" style="margin-top: 40px;">
                                                    <h3>
                                                        Book A visitor E-Permit
                                                    </h3>
                                                    <p>Authorise vehicles to park in Disignated Visitor bays. </p>
                                                    <hr>

                                              
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-md-12">
                                    <div style="display: flex;">
                                        <div class="meeting_cls row" *ngFor="let session of visitorsessions">
                                            <a class="meetingan_"
                                                (click)="RedirectToAppoint(session.duration,session.sessionUnit)">
                                                <div class="header1">
                                                    <div class="eventtypecls"></div>
                                                    <div class="eventtyeheader">{{session.duration}}
                                                        {{session.sessionUnit}} Parking
                                                    </div>
                                                    <div class="eventtypearrow"></div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div> -->



                                <div class="row" id="visitorlist"
                                    style="margin-top: 20px;height:auto;overflow-y: scroll;">
                                    <!-- <div class="col-md-12">

                                        <table class="table table-responsive-md table-bordered table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>VRM</th>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <thead>

                                                <tr *ngIf="visitorparkings?.length === 0">
                                                    <td colspan="8" class="no-data">No data available</td>
                                                  </tr>
                                                  
                                                <tr *ngFor="let visitorparking of visitorparkings">
                                                    <td>{{visitorparking.date}}</td>
                                                    <td>{{visitorparking.vrm}}</td>
                                                    <td>{{visitorparking.name}}</td>
                                                    <td>{{visitorparking.contact}}</td>
                                                    <td>{{visitorparking.starttime}}</td>
                                                    <td>{{visitorparking.endtime}}</td>

                                                    <td>
                                                        <span *ngIf="visitorparking.status==true">E-Permit
                                                            Validated</span>
                                                        <span *ngIf="visitorparking.status==false">E-Permit Sent</span>
                                                    </td>

                                                    <td>
                                                        <a href="javascript::" (click)="Edit(visitorparking.id)"><i
                                                            class="fa fa-edit"></i></a>
                                                   

                                                        <a href="javascript:void(0);" matTooltip="Cancel"  (click)=openModal(template,visitorparking.id)
                                                        style="margin-left: 10px;"><i class="fa fa-trash"></i></a>

                                                       
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div> -->



                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                          <thead>
                                            <tr>
                                              <th>Date</th>
                                              <th>VRM</th>
                                              <th>Name</th>
                                              <th>Contact</th>
                                              <th>Start Time</th>
                                              <th>End Time</th>
                                              <th>End Date</th>
                                              <th>Status</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                      
                                          <tbody>
                                            <!-- Show No Data Available if the array is empty -->
                                            <tr *ngIf="visitorparkings?.length === 0">
                                              <td colspan="8" class="no-data">No Data Available</td>
                                            </tr>
                                      
                                            <!-- Loop through visitorparkings if records are available -->
                                            <tr *ngFor="let visitorparking of visitorparkings">
                                              <td>{{ visitorparking.date }}</td>
                                              <td>{{ visitorparking.vrm }}</td>
                                              <td>{{ visitorparking.name }}</td>
                                              <td>{{ visitorparking.contact }}</td>
                                              <td>{{ visitorparking.starttime }}</td>
                                              <td>{{ visitorparking.endtime }}</td>
                                              <td>{{ visitorparking.endDate }}</td>
                                              <td>
                                                <span *ngIf="visitorparking.status == true">E-Permit Validated</span>
                                                <span *ngIf="visitorparking.status == false">E-Permit Sent</span>
                                              </td>
                                              <td>
                                                <a href="javascript::" (click)="Edit(visitorparking.id)">
                                                  <i class="fa fa-edit"></i>
                                                </a>
                                                <a
                                                  href="javascript:void(0);"
                                                  matTooltip="Cancel"
                                                  (click)="openModal(template, visitorparking.id)"
                                                  style="margin-left: 10px;"
                                                >
                                                  <i class="fa fa-trash"></i>
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      



                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>