<div class="card" *ngIf="expression">
    <div class="card-header">
        <h5>Change Password</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            
            <div class="col-12 col-lg-7 col-xl-6">
                <form [formGroup]="changepasswordform">
                <div class="form-group">
                    <label for="password-current">Current Password</label>
                    <input type="password" class="form-control"  [(ngModel)]="currentpassword" formControlName="Lcurrentpassword"
                    [ngClass]="{'is-invalid': changepasswordsubmitted && f.Lcurrentpassword.errors }" id="password-current" 
                    required placeholder="Current Password">
                    <div *ngIf="changepasswordsubmitted && f.Lcurrentpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.Lcurrentpassword.errors.required" style="color: #ffd333">Current Password
                            required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password-new">New Password</label>
                    <input type="password" class="form-control" [(ngModel)]="newpassword" formControlName="Lnewpassword"
                    [ngClass]="{'is-invalid': changepasswordsubmitted && f.Lnewpassword.errors }" id="password-new" required placeholder="New Password">
                    <div *ngIf="changepasswordsubmitted && f.Lnewpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.Lnewpassword.errors.required" style="color: #ffd333">New Password
                            required</div>
                            <div *ngIf="f.Lnewpassword.errors.pattern" style="color: #ffd333"><span style="color: #ffd333">Password must have 1 Special Charecter</span><br>
                                <span style="color: #ffd333">Password must have 1 Small</span><br>
                                <span style="color: #ffd333">Password must have 1 Capital</span><br>
                                <span style="color: #ffd333">Password must have 1 Numaric</span><br>
                                <span style="color: #ffd333">Password must be min 6 Charecters</span><br>
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password-confirm">Reenter New Password</label>
                    <input type="password" class="form-control" [(ngModel)]="reenterpassword" formControlName="Lreenterpassword"
                    [ngClass]="{'is-invalid': changepasswordsubmitted && f.Lreenterpassword.errors }" id="password-confirm"
                     required placeholder="Reenter New Password">
                     <div *ngIf="changepasswordsubmitted && f.Lreenterpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.Lreenterpassword.errors.required" style="color: #ffd333">Reenter Password
                            required</div>
                            <div *ngIf="f.Lreenterpassword.errors.mustMatch" style="color: #ffd333;">Passwords
                                must match</div>
                    </div>
                </div>

                <div class="form-group mt-5 mb-0">
                    <button type="submit" (click)="changepassword()" class="btn btn-primary">Change</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


<div class="bs-example" id="thankyoudiv" *ngIf="!expression" >
    <div class="card" style="margin: 0px auto;max-width: 100%;height: 450px !important;">
        <div class="row no-gutters" style="height: 450px!important;">
            <div style="width: 100% !important;">
                <a class="c-pointer">
                </a>
                <div class="text-center" style="background: initial !important;">
                    <p><img src="assets/images/logo/check-48-primary.png"  width="100" height="48" alt=""
                            style="-ms-interpolation-mode: bicubic; vertical-align:
                     middle;border: 0;line-height: 100%;height: auto;outline: none;text-decoration: none;" /></p>
                    <!-- <h1 class="display-3">Thank You!</h1> -->
                    <!-- <p class="lead">Your Parking Slot has been booked on {{date}}
                        valid from {{starttime}} to {{endtime}} and your Bay is <strong>{{bayno}}</strong>.</p> -->
                    <p class="lead"><strong> your password has been updated Sucessfully.</strong></p>
                    <!-- <hr> -->

                    <p class="lead">
                        <button Class="btn btn-primary btn-lg btn-shadow" [routerLink]="['/account/dashboard']" routerLinkActive="router-link-active" >
                            Ok
                        </button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
