<!-- <div
    class="w-64 min-h-screen bg-[#f3f4f6] text-[#000000] fixed left-0 top-0 border-r-4 border-[#4e46e6] m-0"
>
    <div class="p-4 flex justify-center">
        <a (click)="movetohome()">
            <img
                src="assets/images/logo/test4.png"
                class="h-12"
                alt="Go Permit Logo"
            />
        </a>
    </div>
    <ul class="space-y-2 px-4">
        <li class="py-2 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
            <i class="fas fa-home mr-2"></i>
            <a [routerLink]="'/account/dashboard'">Home</a>
        </li>

        <li class="py-2 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
            <i class="fas fa-parking mr-2"></i>
            Manage Parking
        </li>
        <ul class="ml-4 space-y-2">
            <li class="py-1 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-plus-circle mr-2"></i>
                <a [routerLink]="'/account/AddVehicleRegistration'"
                    >Create Session</a
                >
            </li>
            <li class="py-1 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-list mr-2"></i>
                <a [routerLink]="'/account/VehicleRegistration'"
                    >Manage Session</a
                >
            </li>
        </ul>

        <li class="py-2 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
            <i class="fas fa-car mr-2"></i>
            Visitor Parking
        </li>
        <ul class="ml-4 space-y-2">
            <li class="py-1 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-user-plus mr-2"></i>
                <a [routerLink]="'/account/AddVisitorRegistration'"
                    >Create Visitor
                </a>
            </li>
            <li class="py-1 px-3 rounded hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-list mr-2"></i>
                <a [routerLink]="'/account/VisitorParking'">Manage Visitor </a>
            </li>
        </ul>
    </ul>
</div> -->






















<div class="w-64 min-h-screen bg-[#f3f4f6] text-[#000000] fixed left-0 top-0  border-[#4e46e6] shadow-lg">
    <!-- Logo Section -->
    <div class="p-6 flex justify-center  border-gray-300">
        <a (click)="movetohome()">
            <img src="assets/images/logo/test4.png" class="h-14" alt="Go Permit Logo" />
        </a>
    </div>

    <!-- Navigation -->
    <ul class="space-y-2 px-2 mt-4">
        <!-- Home -->
        <li class="py-3 px-4 rounded-lg flex items-center gap-2 hover:bg-[#e0e7ff] hover:text-[#4e46e6] transition-all cursor-pointer">
            <i class="fas fa-home text-lg"></i>
            <a [routerLink]="'/account/dashboard'" class="w-full">Home</a>
        </li>

        <!-- Manage Parking -->
        <li class="py-3 px-4 rounded-lg flex items-center justify-between hover:bg-[#e0e7ff] hover:text-[#4e46e6] transition-all cursor-pointer" (click)="showManageParking = !showManageParking">
            <div class="flex items-center gap-2">
                <i class="fas fa-parking text-lg"></i>
                Manage Parking
            </div>
            <i class="fas" [ngClass]="showManageParking ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </li>
        <ul class="ml-6 space-y-2 transition-all" *ngIf="showManageParking">
            <li class="py-2 px-4 rounded-lg flex items-center gap-2 hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-plus-circle"></i>
                <a [routerLink]="'/account/AddVehicleRegistration'">Create Session</a>
            </li>
            <li class="py-2 px-4 rounded-lg flex items-center gap-2 hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-list"></i>
                <a [routerLink]="'/account/VehicleRegistration'">Manage Session</a>
            </li>
        </ul>

        <!-- Visitor Parking -->
        <li class="py-3 px-4 rounded-lg flex items-center justify-between hover:bg-[#e0e7ff] hover:text-[#4e46e6] transition-all cursor-pointer" (click)="showVisitorParking = !showVisitorParking">
            <div class="flex items-center gap-2">
                <i class="fas fa-car text-lg"></i>
                Visitor Parking
            </div>
            <i class="fas" [ngClass]="showVisitorParking ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </li>
        <ul class="ml-6 space-y-2 transition-all" *ngIf="showVisitorParking">
            <li class="py-2 px-4 rounded-lg flex items-center gap-2 hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-user-plus"></i>
                <a [routerLink]="'/account/AddVisitorRegistration'">Create Visitor </a>
            </li>
            <li class="py-2 px-4 rounded-lg flex items-center gap-2 hover:text-[#4e46e6] cursor-pointer">
                <i class="fas fa-list"></i>
                <a [routerLink]="'/account/VisitorParking'">Manage Visitor </a>
            </li>
        </ul>
    </ul>
</div>
