::ng-deep .floating-btn {
    position: fixed !important;  /* Ensures it stays in a fixed position */
   // bottom: 20px !important;      /* Adjust the distance from the bottom */
    left: 14px !important;        /* Adjust the distance from the left */
    z-index: 1000 !important;     /* Ensures it appears above other elements */
    border-radius: 50px !important;  /* Makes the button rounded */
   // padding: 10px 20px !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) !important; /* Optional: Adds a shadow */
    top:120px !important;
    padding-right: 11px;
    padding-left: 8px;
  }