<div class="container">
    <div class="card">
        <button  class="btn btn-primary mb-2 floating-btn" (click)="back2()">
            <i class="fa fa-arrow-left mr-2"></i>Back
          </button>

        <div  style="width: 100% !important;padding: 10px;">
            <div class="divdetails ml-2">
                <label>Edit Visitor Parking</label>
            </div>

            <div class="divinput col-md-6">
                <label class="labelcls">VRM</label>
                <input type="text" class="form-control" placeholder="VRM"
                    [(ngModel)]="vrm" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="divinput col-md-6">
                <label class="labelcls">Start Date</label>
                <input type="time" class="form-control" placeholder="Start Date"
                    [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="divinput col-md-6">
                <label class="labelcls">End Date</label>
                <input type="time" class="form-control" placeholder="End Date"
                    [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="divbtn mt-2 ml-2">
                <button class="btn btn-primary mb-2" style="border-radius: 10px;"
                    (click)="update()">Submit</button>
                    <span *ngIf="isUpdated" class="text-success ml-2">
                        <i class="fa fa-check-circle"></i> Updated Successfully
                    </span>
            </div>
        </div>

        </div>
        </div>
